DATABASE_URL=
APP_NAME=
MODE=
PORT=
LHOST=
PHOS=
DEBUG=



SCRAPE_API_KEY

# target urls
JUMIA_TARGET_URL=
JIJI_TARGER_URL=
KONGA_TARGET_URL=
SCRAPE_API_KEY:str
MAX_RETIRES:int
SCRAPE_API_BASE:str
REQUEST_TIME_OUT:int
PAGE_TO_SCRAPE:int